@CHARSET "UTF-8";

body{
	font-family: 'helvetica neue', arial, sans-serif;
	background: #CBDFFF;
	padding:0;
	margin:0;
	width:100%;
}

h2{
	
	font-size:2.5em;
	
}
img{
	margin:auto
}

.centering{
	text-align:center;
	margin:auto
}

.affiancato{
} 

.menu-div, .main-div{
	
	margin-top:3em;
	
}

.main-div{
	
	text-align:justify;
	
}


.sign{
	font-style: italic;
	font-family: "Monotype Corsiva", cursive;
	font-size:2em;
}

.titoletto{
    color:orange;
    background-color:grey;
    font-size:1.3em;
    /* padding:0.2em 2em; */
    
	font-weight: bold;
}

.highlighted{
    font-variant:small-caps;
    text-shadow: 1px 1px 1px orange;
}

.scenetta{
	background-color:rgba(88, 88, 0, 0.2);
	padding:0.2em 0.6em;
}

.label{
	font-weight:bold;
	text-decoration:underline;
}

ul{
	list-style-type:circle;
	padding-left:1em;
}

ol.menu{
	background-color:rgba(88, 88, 0, 0.2);
	list-style-type:none;
    margin: 0;
    text-align:center;
    padding: 0;
    border:1px solid orange;
}


.menu li{
	font-variant:small-caps;
	padding:0.5em;
	border:1px solid;
	color:orange;	
}

.menu li:hover{
	
	border:1px solid;
	background-color:orange;
	color:black;
}

.menu li a{

	color:black;
}

.menu li a:hover{
	
	color:black;
}
ul.elenco{
	list-style-image: url('../resources/java_mini.png');
	padding-left:2em;	

}

.titololink[href]:after { content:"("attr(href)")"; 
}
.toplink, .toplink:visited, .toplink:active, .menu a, .menu a:active, .menu a:visited, .menu a:hover{
   
  
   text-decoration:none;
   
}

.toplink:hover, toplink:active{
	 color:black;
	 background:orange;
}




@media only screen and (min-width: 1024px){
	.affiancato{
		float:left;
	}
	
	.main-div{
		width:70%;
		padding:0% 5%; 
		
	}
	
	.menu-div{
		width:18%;
		padding:0% 1%;
	}
	
	.titolo{
		margin-left:20%;
	}

}

@media only screen and (max-width: 1023px){
	
	
	.main-div, .menu-div{
		padding: 0% 1%;
		padding-top:3em;
		margin:auto;
		
	}
	
	.menu br{
		display:none;
	}
	
	.menu-div{
		max-width:800px;
		
	}
	
}
